#product-overview {
    background-image: url("images/main_image.jpg");
    background-size: cover;
    background-position: left 60%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    /* background-image: linear-gradient(170deg, red, blue, yellow, green, purple); */
    /* background-image: linear-gradient(180deg, rgb(26, 34, 116), transparent); */
    /* background-image: linear-gradient(180deg, rgb(26, 34, 116), rgba(0,0,0,0.5)); */
    /* background-image: linear-gradient(180deg, rgb(26, 34, 116), lime, rgba(0,0,0,0.5)); */
    /* background-image: linear-gradient(180deg, rgba(26, 34, 116, 0.9) 70%, lime, rgba(0,0,0,0.5)); */
    /* background-image: radial-gradient(rgba(26, 34, 116, 0.9), lime); */
    /* background-image: radial-gradient(circle, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(circle at top, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(circle at top left, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(circle at 20% 30%, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(circle 100px at 20% 30%, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(ellipse 20px 50px at 20% 30%, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(ellipse farthest-side at 20% 30%, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(ellipse closest-side at 20% 30%, red, rgba(26, 34, 116, 1), lime); */
    /* background-image: radial-gradient(ellipse farthest-corner at 20% 30%, red, rgba(26, 34, 116, 1), lime); */

    width: 100vw;
    height: 50vh;
    margin-top: 2.75rem;
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

/* combinators */
#product-overview h1 {
    color: white;
    font-family: 'Crimson Text', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan__list {
    width: 80%;
    /* centers plans within their block elements */
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(71, 67, 67, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(71, 67, 67, 0.5);
    border-radius: 0.4rem;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #43604d;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__features {
    list-style:  none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}
#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}